---
title: Blacktown City Council
header: custom
---
extends layouts/_layout
block content
  .customer-project
    .container
      .row.center-xs
        .col-xs-12
          h1 Blacktown City Council
        .col-xs-7
          .row
            .col-xs-3
              .customer-project__info
                i.icon.icon-pin
                b Location
                p Western Sydney, Australia
            .col-xs-3
              .customer-project__info
                i.icon.icon-people
                b Scale
                p 109,000 households
            .col-xs-3
              .customer-project__info
                i.icon.icon-phone
                b Solutions
                p GreenMoney, B informed