.intro
  background-image: url('../img/intro-bg.png')
  +cover
  height: 680px
  padding-top: 150px
  position: relative
  h1
    width: 100%
    max-width: 470px
    +centera(x)
    font-size: 29px
    font-weight: bold
    text-align: center
    color: $white
    margin-bottom: 10px
  p
    font-size: 16px
    line-height: 1.63
    text-align: center
    color: $white
    width: 100%
    max-width: 550px
    +centera(x)
    margin-bottom: 20px
  .btn
    +centera(x)
  &__img
    position: relative
    width: 100%
  #scene1
    z-index: 9
    position: absolute
    top: 80px
    left: 360px
  #scene2
    position: absolute
    top: 60px
    right: 160px