section.intro
  .container
    h1 Class-leading web and mobile apps to engage your customers.
    p The customer experience platform trusted by government and utilities to challenge, incentivise and motivate behaviours at scale.
    a(href="#").btn.btn-secondary View solutions
    .intro__img#scene
      div(data-depth="0.2")
        img(src="img/intro__img-1.png", alt="")
    .intro__img#scene1
      div(data-depth="0.5")
        img(src="img/intro__img-2.png", alt="")
    .intro__img#scene2
      div(data-depth="0.9")
        img(src="img/intro__img-3.png", alt="")
