section.intro
  .container
    h1 Class-leading web and mobile apps to engage your customers.
    p The customer experience platform trusted by 
      a(href="government.html") government 
      | and 
      a(href="utility.html") utilities 
      | to challenge, incentivise and motivate behaviours at scale.
    a(href="#").btn.btn-secondary View solutions
    .intro__img
      img(src="img/intro__img-1.png", alt="")#scene
      img(src="img/intro__img-2.png", alt="")#scene1
      img(src="img/intro__img-3.png", alt="")#scene2
