section.home-video
  .container
    .row
      .col-xs-6.flex
        .home-video__img#video
          div(data-depth="0.2")
            img(src="img/description-slide__2-1.png", alt="")
        .home-video__img#video1
          div(data-depth="0.5")
            img(src="img/description-slide__2-2.png", alt="")
      .col-xs-6
        .home-video__logo
          img(src="img/video__logo.png", alt="")
        .home-video__text
          p …thank you so much for the Jemena challenges and information, I have learnt a lot on how to save energy and in return I save money.
          b Power Changers participant
          span Melbourne, VIC
          a(href="#").btn.btn-primary-min Watch video