.header
  position: absolute
  top: 0
  left: 0
  width: 100%
  z-index: 9
  padding: 15px 0 0
  +tr
  z-index: 10
  .menu-open
    width: 20px
    height: 20px
    z-index: 99
    display: block
    top: 5px
    position: relative
    left: 100%
    transform: translate(-100%)
    span
      width: 20px
      height: 2px
      background: $white
      display: block
      &:before, &:after
        content: ''
        width: 20px
        height: 2px
        background: $white
        position: absolute
        left: 0
      &:before
        top: 7px
      &:after
        bottom: 4px
  &.custom
    position: fixed
    background: $white
    img:first-child
      display: none
    img.scroll
      display: block
    a
      color: $black-two
    ul.none
      box-shadow: 2px 2px 24px 0 rgba(0, 0, 0, 0.2)
  &.scroll
    position: fixed
    background: $white
    box-shadow: 2px 2px 24px 0 rgba(0, 0, 0, 0.2)
    img:first-child
      display: none
    img.scroll
      display: block
    a
      color: $black-two
    ul.none
      box-shadow: 2px 2px 24px 0 rgba(0, 0, 0, 0.2)
  &__logo
    img.scroll
      display: none
  ul
    +center
    justify-content: space-between
    position: relative
    a
      font-size: 16px
      font-weight: 600
      color: $white
      padding-bottom: 15px
      border-bottom: 2px solid transparent
      display: block
      &:hover
        border-bottom: solid 2px #33ccff
    li
      position: relative
      .none
        visibility: hidden
        opacity: 0
        position: absolute
        top: 36px
        background: $white
        +center-column
        padding: 15px 20px
        align-items: flex-start
        border-top: solid 2px #33ccff
        transition: all 0.4s
        a
          font-size: 16px
          font-weight: normal
          color: $brownish-grey
          padding: 0
          border-bottom: none
          &:hover
            border-bottom: none
      &:hover
        .none
          visibility: visible
          opacity: 1